html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Système de gestion des ressources humaines 
          
          p L'ensemble des fonctions ci-dessous vous permettront de modifier, supprimer ou créer un employé.
          p
            a.btn.btn-primary(href='/profile') Créer un employé
          p
            a.btn.btn-primary(href="/login") Modifier un employé
          p
            a.btn.btn-primary(href="/login") Supprimer un employé
          p
            span.small Cette application web a été réalisé par les membres du groupe DASI 2, Audrey Lance, Théo Stein et Serveaux Quentin
            